$toolbar-width: 50px;
$panel-width: 300px;
$hide-panel-timing: .5s;

.app__toolbar {
  position: absolute;
  height: 100%;
  background: #65667a;
  width: $toolbar-width;
  z-index: 10000;
}

.app__panel {
  position: absolute;
  overflow-y: auto;
  height: 100%;
  background-image: linear-gradient(to right, #65667a, #444554);
  left: $toolbar-width;
  box-sizing: border-box;
  border-left: 1px solid #444554;
  transition: $hide-panel-timing;
  width: $panel-width;

  &-show {
    @extend .app__panel;
  }

  &-hide {
    @extend .app__panel;
    left: calc(#{$toolbar-width} - #{$panel-width});
  }
}

.app__map {
  position: absolute;
  height: 100%;
  transition: $hide-panel-timing;

  &-show {
    @extend .app__map;
    width: calc(100% - (#{$toolbar-width} + #{$panel-width}));
    left: calc(#{$toolbar-width} + #{$panel-width});
  }

  &-hide {
    @extend .app__map;
    width: calc(100% - #{$toolbar-width});
    left: #{$toolbar-width};
  }
}
