<div class="app-panel">
  <h1>Tracked Vessels</h1>
  <div *ngIf="vessels.length == 0">
    <div>No tracked vessels</div>
    <div style="margin-top: 5px;">Choose vessel on map and add some.</div>
  </div>
  <table *ngIf="vessels.length > 0" style="width: 90%; margin: 0 auto;">
    <tr>
      <th>MMSI</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let vessel of vessels">
      <td>{{ vessel.mmsi }}</td>
      <td>
        <a title="Info" class="material-icons-outlined md-24">info</a>
        <a (click)="adjust(vessel)" title="Adjust" class="material-icons-outlined md-24">adjust</a>
        <a title="Suspend" class="material-icons-outlined md-24">remove_circle</a>
        <a title="Remove" class="material-icons-outlined md-24">delete_forever</a>
      </td>
    </tr>
  </table>
</div>
