<div class="login-panel">
  <form class="login-form">
    <label for="email" class="login-form__email-label">
      <strong>Email</strong>
    </label>
    <input type="text" id="email" class="login-form__email" required>

    <label for="password" class="login-form__password-label">
      <strong>Password</strong>
    </label>
    <input type="password"   id="password" class="login-form__password" required>

    <button type="button" class="login-form__login-button">Login</button>
  </form>
</div>
