.nav {
  width: 100%;
  background: #2c2d3a;
  box-sizing: border-box;
  border-bottom: 1px solid #3b3c4b;
  display: block;
  height: 50px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
  }
  &__item {
    display: flex;
    justify-content: center;
    background: #3b3c4b;
    padding: 0 10px;
    margin: 0;
    height: 100%;
  }
  &__item:hover {
    cursor: pointer;
    background: #616273;
  }
  &__link {
    margin: auto;
    color: #fff;
    font-weight: 300;
    display: block;
    letter-spacing: 0.05rem;
    text-decoration: none;
  }
}
