@import 'node_modules/material-icons/iconfont/material-icons.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
@import '~ngx-toastr/toastr';

body, html {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

body {
  background: #444554;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 50000s;
  -webkit-box-shadow: 0 0 0 50px red inset;
  -webkit-text-fill-color: white;
}
