<div class="popup-map">
  <ng-container [ngTemplateOutlet]="groupMarker ? group_marker_template : single_marker_template"></ng-container>
</div>

<ng-template #single_marker_template>
  <div class="popup-map__title">MMSI: {{ singleMarker!.mmsi }}</div>
  <div class="popup-map__timestamp">Last position update:</div>
  <div>{{ moment(singleMarker!.timestamp).format('DD-MM-YYYY HH:mm:ss') }}</div>
  <a
    *ngIf="loggedUser"
    title="Track vessel"
    (click)="trackVessel(singleMarker!.mmsi)"
    class="popup-map__track material-icons-outlined md-24"
  >add</a>
</ng-template>

<ng-template #group_marker_template>
  <div class="popup-map__title">Ships in region ({{ groupMarker!.mmsis.length }}):</div>
  <div class="popup-map__list">
    <div *ngFor="let mmsi of groupMarker!.mmsis">{{ mmsi }}</div>
  </div>
</ng-template>
