.popup-map {
  text-align: center;

  &__description {
    font-size: 0.8rem;
  }

  &__timestamp {
    margin-top: 10px;
    text-decoration: underline;
  }

  &__track {
    cursor: pointer;
  }

  &__list {
    max-height: 150px;
    overflow: auto;
  }
}
