<div class="main-toolbar">
  <div class="toolbar">
    <div class="toolbar__item">
      <div class="toolbar__link" routerLink="/" (click)="showPanel()">
        <div class="material-icons-outlined md-24">map</div>
        <div class="toolbar__text">Map</div>
      </div>
    </div>
    <div class="toolbar__item" *ngIf="loggedUser" (click)="showPanel()">
      <div class="toolbar__link" routerLink="/app">
        <div class="material-icons-outlined md-24">computer</div>
        <div class="toolbar__text">App</div>
      </div>
    </div>
  </div>
  <div class="toolbar">
    <div class="toolbar__item" *ngIf="!loggedUser" (click)="showPanel()">
      <div class="toolbar__link" routerLink="/login">
        <div class="material-icons-outlined md-24">person</div>
        <div class="toolbar__text">Login</div>
      </div>
    </div>
    <div class="toolbar__item" *ngIf="loggedUser">
      <div class="toolbar__link" (click)="logout()">
        <div class="material-icons-outlined md-24">power_settings_new</div>
        <div class="toolbar__text">Logout</div>
      </div>
    </div>
    <div class="toolbar__item" (click)="centerMap()">
      <div class="toolbar__link">
        <div class="material-icons-outlined md-24">control_camera</div>
        <div class="toolbar__text">Center</div>
      </div>
    </div>
    <div class="toolbar__item" (click)="togglePanel()">
      <div class="toolbar__link">
        <div [ngClass]="isPanelShown ? 'panel-button-show' : 'panel-button-hide'" class="material-icons-outlined md-24">login</div>
      </div>
    </div>
  </div>
</div>
