.main-toolbar {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.toolbar {
  display: table-column;
  width: 100%;
  justify-content: left;

  &__item {
    width: 100%;
    height: 50px;
    background: #444554;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #65667a;
      transition: .2s ease;
    }
  }

  &__link {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  &__text {
    font-size: 0.7rem;
  }
}

.panel-button {
  transition: .5s;

  &-show {
    @extend .panel-button;
    transform: rotate(-180deg);
  }

  &-hide {
    @extend .panel-button;
    transform: rotate(0deg);
  }
}
